
body{
    margin: 2px;
    background-color: rgb(218, 238, 255);
    font-family: 'Trebuchet MS';
}
main{
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    text-align: center;
    color:rgba(71, 138, 255, 0.89);
    border: 3px dotted white;
    border: bold;
}
main img{
    width: 150px;
    border: 5px outset rgb(189, 217, 244);
    padding: 5px;
    border-radius: 2px;
}
main img:hover{
    background-color: rgb(189, 217, 244);
}
main p{
    font-size: 15px;
    margin-top: none;
    padding: none;
    margin-left: 40px;
    margin-right: 40px;
}
div{
    padding: 10px;
    text-decoration: none;
    font-family: 'Trebuchet MS';
    text-align: left;
}
div.title-one{
    font-size: 13px;
    text-decoration:double underline;
}
div.title-two{
    font-size: 12px;
    text-decoration: double underline;
}
div.social-images{
    align-items: flex-end;
}
div.linkedin img{
    width: 120px;
}
div.github img{
    width: 120px;
}
div.slack img{
    width: 120px;
}
div a{
    text-decoration: dotted underline;
    color:rgb(99, 156, 255);
    font-weight: bold;
}
h2{
    text-align: center;
    text-decoration: dotted underline;
    color: rgb(255, 255, 255);
}
h3{
    margin-bottom: 0px;
    color: rgb(99, 156, 255);
}

.navbar ul{
    list-style-type: none;
    background-color: rgba(71, 138, 255, 0.525);
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}
.navbar a{
    color: white;
    text-decoration: none;
    padding: 10px;
    display: grid;
    text-align: center;
    overflow: hidden;
}
.navbar a:hover{
    background-color: rgba(71, 138, 255, 0.671);
}
.navbar li{
    float: left;
    margin-left: 10px;
}
